Repository cyancirrus/cms_study: changes, and which lefthook commands are due for each by the changed paths.
All: format-python, format-shell, format-sqlite

.lefthook.yml:

# TODO: port these to scripts and add unit tests
pre-commit:
  parallel: true
  commands:
    model-performance:
      run: |
        ./hooks/accuracy/modeling.sh
    unit-tests:
      run: |
        ./hooks/testing/unit_test.sh
    format-python:
      run: |
        ./hooks/formatters/python.sh
      glob: "*.py"
    format-shell:
      run: |
        ./hooks/formatters/shell.sh
      glob: "*.sh"
    format-sqlite:
      run: |
        ./hooks/formatters/sqlite.sh 
      glob: "etl/*.sql"

doube with the engine, causes thing need cae _ even tho is enum
  MODEL_PERFORMANCE.txt
  scripts/etl_execute.sh
  src/database/m_sqlite.py
Due: format-python, format-shell

auto-docs
  MODEL_PERFORMANCE.txt
  PRESENTATION.txt
  README.md
  _README_INTERNAL_.md
Due: none

presentation done just want to see if i can't do the service type
  MODEL_PERFORMANCE.txt
  scripts/requests.sh
  src/model_general_main.py
  src/model_medicare_main.py
  src/model_psychiatric_main.py
Due: format-python, format-shell

demo ready just going to back up db and rerun etl so ensure thats live
  MODEL_PERFORMANCE.txt
  scripts/requests.sh
  src/api/methods/query_recommendation.py
  src/app_types/categories.py
  tests/test_api.py
Due: format-python, format-shell

re-enabling auto launch so i don't forget to show swagger's auto-doc
  MODEL_PERFORMANCE.txt
  scripts/launch_api.sh
Due: format-shell

3 off measures
  MODEL_PERFORMANCE.txt
  README.md
Due: none

just yeah
  MODEL_PERFORMANCE.txt
  README.md
Due: none

final project packages, need to prune
  MODEL_PERFORMANCE.txt
  requirements.txt
Due: none

just making an easy to access note before anyone tries to run
  MODEL_PERFORMANCE.txt
  README.md
Due: none

indentation
  MODEL_PERFORMANCE.txt
  README.md
Due: none

data requires git lfs, can at least include visualizations without needing to like version the large files
  .gitignore
  MODEL_PERFORMANCE.txt
  visualizations/complications_and_deaths_hospital_2021.png
  visualizations/complications_and_deaths_hospital_2022.png
  visualizations/complications_and_deaths_hospital_2023.png
  visualizations/complications_and_deaths_hospital_2024.png
  visualizations/complications_and_deaths_hospital_2025.png
  visualizations/fy_hac_reduction_program_hospital_2021.png
  visualizations/fy_hac_reduction_program_hospital_2022.png
  visualizations/fy_hac_reduction_program_hospital_2023.png
  visualizations/fy_hac_reduction_program_hospital_2024.png
  visualizations/fy_hac_reduction_program_hospital_2025.png
  visualizations/fy_hospital_readmissions_reduction_program_hospital_2021.png
  visualizations/fy_hospital_readmissions_reduction_program_hospital_2022.png
  visualizations/fy_hospital_readmissions_reduction_program_hospital_2023.png
  visualizations/fy_hospital_readmissions_reduction_program_hospital_2024.png
  visualizations/fy_hospital_readmissions_reduction_program_hospital_2025.png
  visualizations/hospital_general_information_2021.png
  visualizations/hospital_general_information_2022.png
  visualizations/hospital_general_information_2023.png
  visualizations/hospital_general_information_2024.png
  visualizations/hospital_general_information_2025.png
  visualizations/hvbp_tps_2021.png
  visualizations/hvbp_tps_2022.png
  visualizations/hvbp_tps_2023.png
  visualizations/hvbp_tps_2024.png
  visualizations/hvbp_tps_2025.png
  visualizations/ipfqr_quality_measures_facility_2021.png
  visualizations/ipfqr_quality_measures_facility_2022.png
  visualizations/ipfqr_quality_measures_facility_2023.png
  visualizations/ipfqr_quality_measures_facility_2024.png
  visualizations/ipfqr_quality_measures_facility_2025.png
  visualizations/medicare_hospital_spending_per_patient_hospital_2021.png
  visualizations/medicare_hospital_spending_per_patient_hospital_2022.png
  visualizations/medicare_hospital_spending_per_patient_hospital_2023.png
  visualizations/medicare_hospital_spending_per_patient_hospital_2024.png
  visualizations/medicare_hospital_spending_per_patient_hospital_2025.png
Due: none
