Repository cyancirrus/cms_study: changes, and which lefthook commands are due for each by the changed paths.
All: format-python, format-shell

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format-python:
      run: black .
      glob: "*.py"
    format-shell:
      run: shfmt -w ./scripts
      glob: "*.sh"

does it work?
  .lefthook.yml
  src/api/main.py
Due: format-python

does it work?
  src/api/main.py
Due: format-python

does it work?
  .lefthook.yml
Due: none

does it work?
  scripts/environment.sh
Due: format-shell

okie have things up need to refine the api endpoint for the thing
  scripts/_dev_filter_.sh
  scripts/environment.sh
  scripts/initialize_db.sh
  scripts/model_performance.sh
  scripts/visualization_histograms.sh
Due: format-shell

standing up api
  scripts/launch_api.sh
  scripts/terminate_api.sh
  src/api/main.py
Due: format-python, format-shell

standing up the api
  scripts/launch_api.sh
  scripts/terminate_api.sh
  src/api/main.py
Due: format-python, format-shell

yay can stand up end point for api tomorrow easily and like, model is already outperforming, etl is somewhat coming along
  scripts/launch_api.sh
  scripts/requests.sh
  scripts/terminate_api.sh
Due: format-shell

yay can stand up end point for api tomorrow easily and like, model is already outperforming, etl is somewhat coming along
  configs/2023_datasets.json
  configs/2024_datasets.json
  configs/2025_datasets.json
  scripts/requests.sh
Due: format-shell

wwhy not commit, oh i need to like do the thing where like post changes are added
  src/database/bridge.py
Due: format-python

unit tests live?
  .lefthook.yml
  requirements.txt
  src/api/main.py
  src/types/__init__.py
  src/types/categories.py
  tests/test_api.py
Due: format-python

module name colision types -> apptypes
  src/app_types/__init__.py
  src/app_types/categories.py
Due: format-python

opening up the api documentation
  scripts/launch_api.sh
  scripts/terminate_api.sh
Due: format-shell

opening up the api documentation
  README.md
Due: none

pooling
  src/api/pooling.py
Due: format-python

scalfolding for bridge for sqlite3 -> spark
  src/api/pooling.py
  src/database/bridge.py
Due: format-python

scalfolding for bridge for sqlite3 -> spark
  src/database/bridge.py
Due: format-python

scalfolding for bridge for sqlite3 -> spark
  src/database/bridge.py
  src/etl_main.py
  src/initialize_environment.py
Due: format-python

better structure going to add msa now
  README.md
  etl/augmented/state_region.sql
  etl/augmented/zip_lat_long.sql
  etl/source/complications_and_deaths.sql
  etl/source/fy_hac_reduction_program_hospital.sql
  etl/source/fy_hospital_readmissions_reduction_program_hospital.sql
  etl/source/hcahps_hospital.sql
  etl/source/hospital_general_information.sql
  etl/source/hvbp_clinical_outcomes.sql
  etl/source/hvbp_efficiency_and_cost_reduction.sql
  etl/source/hvbp_person_and_community_engagement.sql
  etl/source/hvbp_safety.sql
  etl/source/hvbp_tps.sql
  etl/source/ipfqr_quality_measures_facility.sql
  etl/source/medicare_hospital_spending_per_patient_hospital.sql
  etl/source/pch_hcahps_hospital.sql
  etl/source/timely_and_effective_care_hospital.sql
  etl/source/unplanned_hospital_visits_hospital.sql
  scripts/initialize_db.sh
  src/etl_main.py
  src/model_main.py
Due: format-python, format-shell

better formatting for the pipeline
  scripts/initialize_db.sh
  src/etl/__init__.py
  src/etl/extract.py
  src/etl/loaders.py
  src/etl/process.py
  src/etl_main.py
  src/model_main.py
Due: format-python, format-shell

pulling out like the database param, so it's not implicit and dependent upon global state, will eventually need to like change with bridge but yeah
  src/etl/extract.py
  src/etl/loaders.py
  src/etl/process.py
  src/etl_main.py
Due: format-python

basics for msa information
  README.md
  etl/augmented/msa_centroid.sql
  etl/augmented/msa_dim.sql
  etl/augmented/msa_statistics.sql
  etl/augmented/zip_lat_long.sql
  src/etl/extract.py
  src/etl/loaders.py
  src/etl/process.py
Due: format-python

a bit of mapping a bit
  README.md
  etl/augmented/state_region.sql
  src/etl/extract.py
  src/etl/loaders.py
  src/etl/process.py
  src/etl_main.py
Due: format-python

hows it look
  .lefthook.yml
  etl/augmented/msa_dim.sql
  scripts/initialize_db.sh
  src/etl/extract.py
  src/etl/loaders.py
  src/etl/process.py
Due: format-python, format-shell

doesn't need to be that much
  .lefthook.yml
  scripts/initialize_db.sh
  src/api/main.py
  src/api/pooling.py
  src/database/bridge.py
  src/etl/extract.py
  src/etl/loaders.py
  src/etl/process.py
  src/model_main.py
  src/vis_main.py
  src/visualization/draw.py
  src/visualization/report.py
  src/visualization/summary.py
  tests/test_api.py
Due: format-python, format-shell

wow
  .lefthook.yml
  etl/augmented/msa_dim.sql
  src/api/main.py
  src/database/bridge.py
  src/etl/extract.py
  src/etl/loaders.py
  src/etl/process.py
  src/model_main.py
  src/vis_main.py
  src/visualization/draw.py
  src/visualization/report.py
  src/visualization/summary.py
Due: format-python

had to fix some data, raw source was like the way it was done had hidden like not good, so caused column misalignment
  src/api/pooling.py
  src/database/bridge.py
  src/etl/loaders.py
  src/etl/process.py
  src/etl_main.py
  src/model_main.py
  src/vis_main.py
  src/visualization/draw.py
  src/visualization/report.py
Due: format-python

writing transforms
  src/api/main.py
  src/database/bridge.py
  src/database/m_spark.py
  src/database/m_sqlite.py
  src/database/temp_bridge.py
  src/database/unify.py
  src/etl/loaders.py
  src/etl/process.py
  src/initialize_environment.py
  src/model_main.py
  src/transform/process.py
  src/transform/transform.py
  src/transform_main.py
  src/vis_main.py
  src/visualization/draw.py
  src/visualization/report.py
  src/visualization/summary.py
  tests/test_api.py
Due: format-python

just making it so like unqualified table names aren't floating
  etl/augmented/zip_demographics.sql
  scripts/initialize_db.sh
  src/api/main.py
  src/database/bridge.py
  src/database/m_spark.py
  src/database/m_sqlite.py
  src/database/temp_bridge.py
  src/etl/loaders.py
  src/etl/process.py
  src/model_main.py
  src/tables.py
  src/transform/process.py
  src/transform/transform.py
  src/vis_main.py
  src/visualization/draw.py
  src/visualization/report.py
  src/visualization/summary.py
  tests/test_api.py
Due: format-python, format-shell

transform now runs need to validate, but want to like replace the interface for the load part
  scripts/etl_execute.sh
  src/database/bridge.py
  src/database/m_sqlite.py
  src/tables.py
  src/transform/executors.py
  src/transform/process.py
  src/transform/transform.py
  src/transform_main.py
Due: format-python, format-shell

making the extract agnostic for it's destination, don't need like the like extract itself to be extract, as the data is in CSV's but dcould do that by extending the interface of like EngineProtocol
  scripts/etl_execute.sh
  src/database/bridge.py
  src/database/m_spark.py
  src/database/m_sqlite.py
  src/etl/extract.py
  src/etl/loaders.py
  src/etl/process.py
  src/etl_main.py
  src/transform/process.py
Due: format-python, format-shell

explicit formatting
  .lefthook.yml
  hooks/formatters/python.sh
  hooks/formatters/shell.sh
  hooks/formatters/sql.sh
  hooks/testing/unit_test.sh
  src/database/bridge.py
  src/database/m_spark.py
  src/database/m_sqlite.py
  src/etl/extract.py
  src/etl/loaders.py
  src/etl/process.py
Due: format-python, format-shell

working?
  .lefthook.yml
  hooks/testing/unit_test.sh
Due: format-shell

working?
  .lefthook.yml
  hooks/formatters/sql.sh
Due: format-shell

working?
  hooks/formatters/sql.sh
Due: format-shell

working?
  .lefthook.yml
Due: none

working?
  etl/augmented/zip_demographics.sql
  etl/source/hvbp_tps.sql
  etl/source/unplanned_hospital_visits_hospital.sql
  hooks/formatters/sql.sh
Due: format-shell

working?
  etl/augmented/msa_statistics.sql
  etl/source/unplanned_hospital_visits_hospital.sql
Due: none

working?
  etl/augmented/msa_statistics.sql
Due: none
