Repository cyancirrus/cms_study: changes, and which lefthook commands are due for each by the changed paths.
All: format-python, format-shell, format-sql

format-python:
  run: './hooks/formatters/python.sh
  
    '

format-shell:
  run: './hooks/formatters/shell.sh
  
    '

format-sql:
  run: './hooks/formatters/sql.sh
  
    '

working?
  .lefthook.yml
Due: none

working?
  etl/augmented/msa_statistics.sql
Due: format-sql

working?
  .lefthook.yml
  etl/augmented/msa_statistics.sql
Due: format-sql

sigh
  .lefthook.yml
  etl/augmented/msa_centroid.sql
  etl/augmented/msa_dim.sql
  etl/augmented/msa_statistics.sql
  etl/augmented/zip_demographics.sql
  etl/source/complications_and_deaths.sql
  etl/source/fy_hac_reduction_program_hospital.sql
  etl/source/fy_hospital_readmissions_reduction_program_hospital.sql
  etl/source/hcahps_hospital.sql
  etl/source/hospital_general_information.sql
  etl/source/hvbp_clinical_outcomes.sql
  etl/source/hvbp_efficiency_and_cost_reduction.sql
  etl/source/hvbp_person_and_community_engagement.sql
  etl/source/hvbp_safety.sql
  etl/source/hvbp_tps.sql
  etl/source/ipfqr_quality_measures_facility.sql
  etl/source/medicare_hospital_spending_per_patient_hospital.sql
  etl/source/pch_hcahps_hospital.sql
  etl/source/unplanned_hospital_visits_hospital.sql
  hooks/formatters/sql.sh
  hooks/formatters/sqlite.sh
Due: format-shell, format-sql

ignore comments
  .lefthook.yml
  .sqlfluff
  etl/augmented/msa_centroid.sql
  etl/augmented/msa_dim.sql
  etl/augmented/msa_statistics.sql
  etl/augmented/state_region.sql
  hooks/formatters/sqlite.sh
  src/transform/process.py
Due: format-python, format-shell, format-sql

ignore comments
  .sqlfluff
Due: none

ignore comments
  .sqlfluff
  etl/source/hcahps_hospital.sql
  hooks/formatters/sqlite.sh
Due: format-shell, format-sql

ignore comments
  etl/source/hcahps_hospital.sql
  hooks/formatters/sqlite.sh
Due: format-shell, format-sql

filter to msa's with data
  etl/augmented/zip_demographics.sql
  src/transform/process.py
Due: format-python, format-sql

better typing
  src/transform/process.py
Due: format-python

something weird in import system
  tests/test_zip_data_bridge.py
Due: format-python

something weird in import system
  __init__.py
  pytest.ini
  src/database/m_spark.py
  src/database/m_sqlite.py
  src/database/unify.py
  src/etl/extract.py
  src/initialize_environment.py
  src/transform/executors.py
  tests/__init__.py
  tests/test_zip_data_bridge.py
Due: format-python

hopefully git doesn't mess up
  README.md
  missing_zipcodes_lat_long.md
  setup.py
  src/database/m_spark.py
  src/database/m_sqlite.py
  src/database/unify.py
  src/etl/extract.py
  src/initialize_environment.py
  src/transform/executors.py
  src/transform/process.py
Due: format-python

thank god progress
  scripts/visualization_histograms.sh
  setup.py
  src/model_main.py
  src/transform/process.py
Due: format-python, format-shell

was accidentally cross-joining
  src/model_main.py
Due: format-python

did one or two experiments, found reason for why model was going wonky
  src/model_main.py
Due: format-python

got the thing
  etl/augmented/facility_zip_code.sql
  scripts/etl_execute.sh
  src/model_dev.py
  src/tables.py
  src/transform/executors.py
  src/transform/facility_zip_code.py
  src/transform/zip_msa.py
  src/transform_main.py
Due: format-python, format-shell, format-sql

getting a bit better
  etl/augmented/facility_zip_code.sql
  etl/augmented/zip_demographics.sql
  etl/augmented/zip_lat_long.sql
  etl/source/complications_and_deaths.sql
  etl/source/fy_hac_reduction_program_hospital.sql
  etl/source/fy_hospital_readmissions_reduction_program_hospital.sql
  etl/source/hcahps_hospital.sql
  etl/source/hospital_general_information.sql
  etl/source/hvbp_clinical_outcomes.sql
  etl/source/hvbp_efficiency_and_cost_reduction.sql
  etl/source/hvbp_person_and_community_engagement.sql
  etl/source/hvbp_safety.sql
  etl/source/hvbp_tps.sql
  etl/source/ipfqr_quality_measures_facility.sql
  etl/source/medicare_hospital_spending_per_patient_hospital.sql
  etl/source/pch_hcahps_hospital.sql
  etl/source/timely_and_effective_care_hospital.sql
  etl/source/unplanned_hospital_visits_hospital.sql
  src/_model_main.bu
  src/model_main.py
Due: format-python, format-sql

hmmm
  src/model_main.py
Due: format-python

think the issue might have just been the like augmented tables not being ran as i was debugging
  etl/source/ipfqr_quality_measures_facility.sql
  metrics/medicare.png
  scripts/etl_execute.sh
  scripts/model_performance.sh
  src/etl/extract.py
  src/etl/loaders.py
  src/etl/process.py
  src/model_medicare_main.py
  src/model_psychiatric_main.py
  src/transform/zip_msa.py
Due: format-python, format-shell, format-sql

okay got basics
  metrics/medicare.png
  metrics/psychiatric.png
  scripts/model_performance.sh
  src/model_psychiatric_main.py
Due: format-python, format-shell

need to commit
  etl/augmented/zip_demographics.sql
  metrics/psychiatric.png
  src/etl/extract.py
  src/initialize_environment.py
  src/model_medicare_main.py
  src/model_psychiatric_main.py
  src/train/models.py
  src/transform/executors.py
  src/transform/zip_msa.py
  temp.md
Due: format-python, format-sql

doing things
  metrics/medicare.png
  metrics/psychiatric.png
  scripts/model_performance.sh
  src/model_medicare_main.py
  src/model_psychiatric_main.py
  src/train/models.py
  src/train/search.py
  src/transform/executors.py
  src/transform/zip_msa.py
Due: format-python, format-shell

3 models with signal, psychiatric is weakest
  MODEL_PERFORMANCE.txt
  metrics/general.png
  metrics/psychiatric.png
  scripts/model_performance.sh
  src/model_general_main.py
  src/model_medicare_main.py
  src/model_psychiatric_main.py
  src/train/models.py
  src/transform/zip_msa.py
  src/visualization/report.py
  temp.md
Due: format-python, format-shell

found the data-leak, things kinda now by expected
  MODEL_PERFORMANCE.txt
  metrics/general.png
  scripts/model_performance.sh
  src/etl/extract.py
  src/model_general_main.py
  temp.md
Due: format-python, format-shell

going?
  MODEL_PERFORMANCE.txt
  hooks/accuracy/modeling.sh
Due: format-shell

lefthook?
  .lefthook.yml
  hooks/accuracy/modeling.sh
  metrics/general.png
Due: format-shell

lefthook?
  MODEL_PERFORMANCE.txt
  scripts/model_performance.sh
Due: format-shell

standardization help?
  MODEL_PERFORMANCE.txt
  metrics/general.png
  src/model_general_main.py
  src/model_psychiatric_main.py
  src/train/models.py
Due: format-python

looking good
  PRESENTATION.txt
  scripts/model_performance.sh
  src/_model_main.bu
Due: format-shell

saving
  README.md
  etl/prediction/prediction_hvbp_clinical_outcomes.sql
  etl/prediction/prediction_hvbp_tps.sql
  metrics/general.png
  metrics/psychiatric.png
  scripts/etl_execute.sh
  scripts/model_performance.sh
  src/model_general_main.py
  src/model_medicare_main.py
  src/tables.py
Due: format-python, format-shell, format-sql

before getting out psych predictions
  src/model_medicare_main.py
  src/model_psychiatric_main.py
Due: format-python

hopefully works
  etl/prediction/prediction_ipfqr_quality_measures_facility
  metrics/medicare.png
  prediction_ipfqr_quality_measures_facility.sql
  src/model_medicare_main.py
  src/model_psychiatric_main.py
  src/tables.py
Due: format-python

okay got things out
  etl/prediction/prediction_ipfqr_quality_measures_facility
  etl/prediction/prediction_ipfqr_quality_measures_facility.sql
  scripts/etl_execute.sh
  src/model_psychiatric_main.py
  src/tables.py
Due: format-python, format-shell, format-sql

recommendations built need to hook to api
  .env_example
  MODEL_PERFORMANCE.txt
  etl/recommendation/recommendation_hospital.sql
  scripts/etl_execute.sh
  scripts/model_performance.sh
  src/initialize_environment.py
  src/model_general_main.py
  src/model_medicare_main.py
  src/model_psychiatric_main.py
  src/recommendation/__init__.py
  src/recommendation/hospital.py
  src/recommendation_main.py
  src/tables.py
Due: format-python, format-shell, format-sql

need to fix imports
  MODEL_PERFORMANCE.txt
  scripts/launch_api.sh
  scripts/requests.sh
  src/api/main.py
  src/api/methods/__init__.py
  src/api/methods/query_recommendation.py
  src/recommendation/hospital.py
  tests/test_api.py
Due: format-python, format-shell

oaky wow okay alot of work
  MODEL_PERFORMANCE.txt
  PRESENTATION.txt
  scripts/etl_execute.sh
  scripts/launch_api.sh
  scripts/requests.sh
  src/api/database/__init__.py
  src/api/database/bridge.py
  src/api/database/m_spark.py
  src/api/database/m_sqlite.py
  src/api/database/temp_bridge.py
  src/api/database/unify.py
  src/api/main.py
  src/api/methods/query_recommendation.py
  src/recommendation/hospital.py
Due: format-python, format-shell

Path conditions:
  format-python: any of: *.py
  format-shell: any of: *.sh
  format-sql: any of: **/*.sql
